################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Vuforia_2024.sln
/UserSettings
/Temp
/obj
/Logs
/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
/.vs
